.input-button-group-addon-left {
  padding: 0;
}

.input-button-group-addon-left > .btn {
  margin: 0;
}

.input-button-group-addon-left > .btn:last-child {
  border-radius: 0;
}

.input-button-group-addon-right {
  padding: 0;
}

.input-button-group-addon-right > .btn {
  margin: 0;
}

.input-button-group-addon-right > .btn:first-child {
  border-radius: 0;
}

/* .tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
} */